body {
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: #fff;
    font-family: "Rajdhani Medium",Rajdhani,Montserrat,sans-serif;
}
.main {
    font-family: "Rajdhani Medium",Rajdhani,Montserrat,sans-serif;
    background: blue;
}
.logo {
    height: auto;
    width: fit-content;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #2057c4;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1.2vh;
    padding-top: 1vh;
    box-shadow: 8px 8px 10px rgb(0 0 0 / 10%);
    margin-left: 8%;
}
.logo a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.logoimg {
    height : auto; 
    width : auto;  
    display: inline-block;
}
.logoimg img {
    height: 50px; 
    width : 50px; 
    vertical-align: middle; 
    line-height: 200px;
    border-style: none;
}
.logotext {
    height : auto ; 
    width : auto; 
    vertical-align: middle; 
    display: inline-block;
}
.logotext span {
    line-height: 60px; 
    font-size: 2em; 
    font-weight: 600; 
    color : white;
}
.logotext span sup {
    font-weight:350;
}
.footer_text {
    background-color: #fff;
    color: #2f3fb1;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 0;
    height: 20px
}
.content {
    width: 100%;
    height: 410px;
    justify-content: center!important;
    display: flex!important;
}
.container {
    margin-top: 10vh;
    width: 70%;
    margin-bottom: 50px;
}
.container_div {
    justify-content: center!important;
    display: flex!important;
    display: flex;
    flex-wrap: wrap;
}
.container_div h2 {
    font-size: 3.2rem;
    font-weight: 900;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    margin-bottom: .5rem;
    line-height: 1.2;
}
.container_div h4 {
    font-size: 1rem;
    color: beige;
    text-align: center;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: .5rem;
}
.form {
    max-width: 700px;
    width: 50%;
    padding: 25px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
}
.form_name, .button {
    margin: 15px 0;
    box-sizing: border-box;
}
.fname {
    float: left;
    width: 48%;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}
.after::after{
    content: '';
    display: table;
    clear: both;
}
.fname input, .lname input, .email input {
    width: 100%;
    border: 1px solid #ccc;
    resize: vertical;
    border-radius: 10px;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}
.lname {
    float: right;
    width: 48%;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}
.flname {
    margin-left: 7px;
    font-size: 12px;
    word-break: break-word;
    width: 100%;
    text-align: center;
}
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.form_email {
    width: 100%;
    margin: 15px 0;
    box-sizing: border-box;
}
.email {
    box-sizing: border-box;
}




.footer {
    margin-top: 180px;
    padding-top: 5px;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    padding-bottom: 10px;
}
.featured h2 {
    color:#0056b3; 
    font-weight: 800; 
    margin: auto; 
    margin-top: 30px;
    text-align: center;
    font-size: 2rem;
    line-height: 1.2
}
img {
    vertical-align: middle;
    border-style: none
}
.brands {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    overflow: hidden;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    background-color: white;
}
.brands div {
    width: 25%;
    margin-top: 10px;
}
.brands img {
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.form_btn {
    text-align: center;
}
.form_btn input {
    font-size: 18px;
    padding: 6px 18px;
    border-radius: 4px;
    cursor: pointer;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 5px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.form_btn input:focus{
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}
.form_btn input:active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}
.form_btn input:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}






@media only screen and (max-width: 800px){
    .logo {
        margin: auto;
    }
    .footer {
        padding-top: 2px;
    }
    .brands div img {
        margin-bottom: 3vh;
    }
    .brands div {
        width: 50%;
    }
    .content {
        height: 520px;
    }
    .lname {
        margin: 16px 0 0 0;
    }
    .fname, .lname {
        width: 100%;
        float: none!important;
        text-align: center;
    }
    .form{
        width: 100%;
    }
    .container{
        width: 100%;
        padding: 25px;
        margin-top: 2vh;
    }
    .email {
        width: 100%;
        float: none!important;
        text-align: center;
    }
    .form_btn {
        width: 100%;
        float: none!important;
        text-align: center;
    }
    .container_div h4 {
        font-size: .8rem;
    }
}